
@{
    ViewBag.Title = "Dathangthanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn đặt hàng thành công!! Vui lòng nhấn vào @Html.ActionLink("đây", "Index", "BookStore") để trở về trang chủ!</h2>

