@using MVCBookStore.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
        <div class="heading-bar">
            <h2>Thông tin chi tiết sách:</h2>
            <span class="h-line"></span>
        </div>

        <section class="span9 first">
            <section class="b-detail-holder">
                <article class="title-holder">
                    <div class="span6">
                        <h4><strong>@Model.Tensach</strong> by </h4>
                    </div>
                    
                </article>
                <div class="book-i-caption">

                    <div class="span6 b-img-holder">
                        <span class='zoom' id='ex1'> <img src='~/images/@Model.Anhmota' height="219" width="300" id='jack' alt='' /></span>
                    </div>


                    <div class="span6">
                        <strong class="title">Quick Overview</strong>
                        @Model.Mota
                        <p>Tình trạng: <a href="#">Còn hàng</a></p>
                        <div class="comm-nav">
                            <strong class="title2">Số Lượng</strong>
                            <ul>
                                <li><input name="" type="text" /></li>
                                <li class="b-price">@Model.Giaban VND</li>
                                <li>@Html.ActionLink("Add to Cart", "DatHang", "GioHang", new { id = Model.Masach}, null)</li>
                            </ul>
                            <a href="#">Add to Wishlist</a>
                        </div>
                    </div>

                </div>

                <section class="related-book">
                    <div class="heading-bar">
                        <h2>Related Books</h2>
                        <span class="h-line"></span>
                    </div>
                    <div class="slider6">
                        <div class="slide">
                            <a href="book-detail.html"><img src="~/images/image05.jpg" alt="" class="pro-img" /></a>
                            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                            <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                            <div class="cart-price">
                                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                                <span class="price">$129.90</span>
                            </div>
                        </div>
                        <div class="slide">
                            <a href="book-detail.html"><img src="~/images/image06.jpg" alt="" class="pro-img" /></a>
                            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                            <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                            <div class="cart-price">
                                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                                <span class="price">$129.90</span>
                            </div>
                        </div>
                        <div class="slide">
                            <a href="book-detail.html"><img src="~/images/image07.jpg" alt="" class="pro-img" /></a>
                            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                            <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                            <div class="cart-price">
                                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                                <span class="price">$129.90</span>
                            </div>
                        </div>
                        <div class="slide">
                            <a href="book-detail.html"><img src="~/images/image08.jpg" alt="" class="pro-img" /></a>
                            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                            <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                            <div class="cart-price">
                                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                                <span class="price">$129.90</span>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="reviews-section">
                    <figure class="left-sec">
                        <div class="r-title-bar">
                            <strong>Customer Reviews</strong>
                        </div>
                        <ul class="review-list">
                            <li>
                                <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                                <em class="">The Kite Runner</em>
                                <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
                            </li>
                            <li>
                                <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                                <em class="">The Kite Runner</em>
                                <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
                            </li>
                        </ul>
                        <a href="#" class="grey-btn">Write Your Own Review</a>
                    </figure>
                    <figure class="right-sec">
                        <div class="r-title-bar">
                            <strong>Write Your Own Review</strong>
                        </div>
                        <ul class="review-f-list">
                            <li>
                                <label>Your name *</label>
                                <input name="" type="text" />
                            </li>
                            <li>
                                <label>Summary of your review *</label>
                                <input name="" type="text" />
                            </li>
                            <li>
                                <label>Your review *</label>
<textarea name="" cols="2" rows="20"></textarea>
                            </li>
                            <li>
                                <label>How do you rate this book? *</label>
                                <div class="rating-list">
                                    <div class="rating-box">
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Star 1
                                        </label>
                                    </div>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Star 2
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Star 3
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Star 4
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Star 5
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="grey-btn left-btn">Write Your Own Review</a>
                    </figure>
                </section>

            </section>

        </section>


        <section class="span3">
            <div class="side-holder">
                <article class="banner-ad"><img src="~/images/image20.jpg" alt="Banner Ad" /></article>
            </div>

            <div class="side-holder">
                <article class="shop-by-list">
                    <h2>Shop by</h2>
                    <div class="side-inner-holder">
                        <strong class="title">Category</strong>
                        <ul class="side-list">
                            <li><a href="grid-view.html">Fiction (15)</a></li>
                            <li><a href="grid-view.html">Healthcare (15)</a></li>
                            <li><a href="grid-view.html">Technology (15)</a></li>
                            <li><a href="grid-view.html">Science(15)</a></li>
                        </ul>
                        <strong class="title">Price</strong>
                        <ul class="side-list">
                            <li><a href="#">$0.00 - $10,00.00 (13)</a></li>
                            <li><a href="#">$10,00.00 - $20,00.00 (2)</a></li>
                        </ul>
                        <strong class="title">Author</strong>
                        <ul class="side-list">
                            <li><a href="book-detail.html">Khalid Hoessini (9)</a></li>
                            <li><a href="book-detail.html">William Blake (2)</a></li>
                            <li><a href="book-detail.html">Anna Kathrinena (1)</a></li>
                            <li><a href="book-detail.html">Gray Alvin (3)</a></li>
                        </ul>
                    </div>
                </article>
            </div>


            <div class="side-holder">
                <article class="l-reviews">
                    <h2>Latest Reviews</h2>
                    <div class="side-inner-holder">
                        <article class="r-post">
                            <div class="r-img-title">
                                <img src="~/images/image21.jpg" />
                                <div class="r-det-holder">
                                    <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                    <span class="r-by">by Khalid Hoessini</span>
                                    <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                                </div>
                            </div>
                            <span class="r-type">Vivamus bibendum massa</span>
                            <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                            <span class="r-author">Review by BookShoppe’</span>
                        </article>
                        <article class="r-post">
                            <div class="r-img-title">
                                <img src="~/images/image21.jpg" />
                                <div class="r-det-holder">
                                    <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                    <span class="r-by">by Khalid Hoessini</span>
                                    <span class="rating-bar"><img src="~/images/rating-star.png" alt="Rating Star" /></span>
                                </div>
                            </div>
                            <span class="r-type">Vivamus bibendum massa</span>
                            <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                            <span class="r-author">Review by BookShoppe’</span>
                        </article>
                    </div>
                </article>
            </div>


            <div class="side-holder">
                <article class="price-range">
                    <h2>Price Range</h2>
                    <div class="side-inner-holder">
                        <p>Select the price range for better search</p>
                        <div id="slider-range"></div>
                        <p> <input type="text" id="amount" class="r-input"> </p>
                    </div>
                </article>
            </div>

        </section>

    </section>
</section>

